
{% extends 'base.html'%}




{% block title %}
post All
{% endblock %}

{% block extra-style %}
<style type="text/css">
    #page_number{
        text-align: center;
        margin-top: 3rem;
    }
    .card-alltitle{
        font-size: 1.5rem !important;
    }
    #date{
        color: black;
    }
</style>

{% endblock %}



{% block content %}
<h1 class="h1 mt-4  ">주요 기사</h1>


<div class="card-deck ">
    {% for post in posts %}
    <div class="card border-primary text-white mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <p class="card-text"><a href="{{ post.get_absolute_url }}">{{ post.title}}</a></p>
        <p id="date">{{ post.modify_dt|date:"N d, Y" }}</p>
        
      </div>
    </div>
    {% endfor %}
</div>

<hr>
<div class="card-alltitle"> 전체 기사</div>
<div class="card-columns">
    <div class="card border-primary">
      <div class="card-body">
        <h5 class="card-title"><a href="{{ post.get_absolute_url }}">{{ posts.0}}</a></h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card p-3">
      <blockquote class="blockquote mb-0 card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card border-primary  text-center p-3">
        <blockquote class="blockquote mb-0">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
          <footer class="blockquote-footer">
            <small>
              Someone famous in <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card border-primary  text-center p-3">
      <blockquote class="blockquote mb-0">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
        <footer class="blockquote-footer">
          <small>
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>

    <div class="card p-3 text-center border-primary">
      <blockquote class="blockquote mb-0">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card border-primary  text-center p-3">
        <blockquote class="blockquote mb-0">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
          <footer class="blockquote-footer">
            <small>
              Someone famous in <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div>
  </div>
    
<div id="page_number">
    <span>
        {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_number}}">Previouspage</a>
        {% endif %}
        
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number}}">NextPage</a>
        {% endif %}
    </span>
</div>

{% endblock %}



{% block footer %}

{% endblock %}
