{% extends 'base.html'%}


{% load static %}

{% block title %}
장고 아들
{% endblock %}

{% block extra-style %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">
<style>
      .food-card {
        margin-bottom: 30px;
        box-shadow: 0px 2px 10px rgb(0 0 0 / 15%);
        transition: 0.4s ease;
    }
    .food-card:hover {
        transform: translateY(-10px) scale(1.02);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
    }
    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }
    .card-body {
        text-align: justify;
        word-break: break-all;
    }
    .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
    .row{
      padding-left: 70px;
    }
</style>
{% endblock %}



{% block content %}
    

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="/photo/photo/23/"><img class="carousel-img d-block w-100" src="https://api.cdn.visitjeju.net/photomng/imgpath/202110/20/0613d86d-c9a7-4927-886b-36f720499acf.jpg
                " alt="First slide" height="400px" width="150px"></a>
              <div class="carousel-caption d-none d-md-block">
                  <p class="subtitle"> 협재해수욕장</p>
              </div>
          </div>
          <div class="carousel-item">
            <a href="/photo/photo/18/"><img class="carousel-img d-block w-100" src="https://api.cdn.visitjeju.net/photomng/thumbnailpath/201804/30/4d608b17-7660-4f1f-8d58-f8f8f12a683a.jpg" alt="Second slide" height="400px" width="150px"></a>
             <div class="carousel-caption d-none d-md-block">
                  <p class="subtitle"> 구리염전</p>
              </div>
          </div>
          <div class="carousel-item">
            <a href="/photo/photo/28/"><img class="carousel-img d-block w-100" src="https://api.cdn.visitjeju.net/photomng/thumbnailpath/201908/29/5e753684-1bfd-4a01-bd60-61d10df8b14b.jpg" alt="Third slide" height="400px" width="150px"></a>
             <div class="carousel-caption d-none d-md-block">
                  <p class="subtitle"> 섭지코지/p>
              </div>
          
          </div>
          <div class="carousel-item">
            <a href="/photo/photo/14/"><img class="carousel-img d-block w-100" src="https://api.cdn.visitjeju.net/photomng/thumbnailpath/202110/28/1a7cc09a-6afc-4433-8cfb-779c659bc94c.jpg" alt="Third slide" height="400px" width="150px"></a>
           <div class="carousel-caption d-none d-md-block">
                <p class="subtitle">아침미소 목장</p>
           </div>
          </div>
        </div>
      <!-- Control Btn -->
      
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
  </div>
  <hr class="MuiDivider-root" style="height:8px;background-color:#f5f5f5 ">
<div class="row">
    <div class="mb-5">
        <div class="d-block mt-2 mb-5">
            
            <p class="ml-5">여행정보</p>
            <div class="row">   
                <div class="col-md-6 col-lg-4">
                    <div class="card photo-card">
                        <a href="https://www.visitjeju.net/kr/themtour/view?contentsid=CNTS_200000000013686">
                            <img src="https://www.visitjeju.net/image/main/theme/theme02_0819.jpg" alt="{{ photo }}" width="100%">
                        </a>
                        <div class="card-body">
                            <h6>{{ photo }}</h6>
                            <p class="text-muted card-text ellipsis">리얼제주를 만나다! </p>
                        </div>
                    </div>
                </div>
            
               
              <div class="col-md-6 col-lg-4" >
                  <div class="card photo-card">
                      <a href="https://www.visitjeju.net/kr/themtour/view?contentsid=CNTS_200000000013648">
                          <img src="https://www.visitjeju.net/image/main/theme/theme03_0819.jpg" alt="{{ photo }}" width="100%">
                      </a>
                      <div class="card-body">
                          <h6>{{ photo }}</h6>
                          <p class="text-muted card-text ellipsis">휴식과 힐링이 필요하다면!</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="card photo-card">
                    <a href="https://www.visitjeju.net/kr/themtour/view?contentsid=CNTS_200000000013647">
                        <img src="https://www.visitjeju.net/image/main/theme/theme04_0819.jpg" alt="{{ photo }}" width="100%">
                    </a>
                    <div class="card-body">
                        <h6>{{ photo }}</h6>
                        <p class="text-muted card-text ellipsis">알고 보면 어렵지 않은</p>
                    </div>
                </div>
            </div>

            
        </div>
        </div>
    </div>
</div>





{% endblock %}



{% block footer %}

{% endblock %}  